.name-title {
    font-family: 'Teko', sans-serif;
    background-image: url(https://images.unsplash.com/reserve/6HJtLkJSDqjqlE2NipEu_macbook.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
    height: 600px;
    background-position: center;
}

.technologies-text{
    font-size: 12px;
}

.web-sec {
    margin-left: 10%;
}

.web-2 {
    margin: 0 14rem
}
